@font-face {
  font-family: prod;
  src: url("../fonts/Product-Sans-Regular.ttf");
}
@font-face {
  font-family: jaguar;
  src: url("../fonts/Jaguar-Bold.otf");
}
@font-face {
  font-family: decimal;
  src: url('../fonts/decimamonopro-webfont.woff2');
}
@font-face {
  font-family: atlas;
  src: url('../fonts/AtlasGrotesk-Regular-Web.woff2');
}
@font-face {
  font-family: menlo;
  src: url('../fonts/Menlo-Regular.ttf');
}



body {
  margin: 0;
  font-family: atlas;
  overflow-y: hidden;
}

#header {
  width: 100vw;
  height: 42px;
  background-color: #111;
  box-sizing:border-box;
  padding: 12px 32px;
}
#logo {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#content {
  overflow-x: hidden;
}

#image-container {
  width: 67%;
  float: left;
}

.anno {
  background-color: #eeff00;
  padding: 7px 14px;
  border-radius: 17px;
  font-family: decimal;
  text-transform: uppercase;
  font-size: 0.9em;
  z-index: 1;
  transition: background-color 0.6s ease-in-out;
}
.anno p {
  padding:0;
  margin: 0;
  user-select: none;
}
.changed {
  transition: background-color 0.6s ease-in-out;
  background-color: blue;
  color:white;
}

#tab {
  position: relative;
  z-index: -1;
}
#tab::after {
  content: "";
  position: absolute;
  left: -14px;
  top:-7px;
  border-top: 21px solid #eeff00;
  border-right: 45px solid transparent;
}

#side-panel {
  /* line-height: 1.75em; */
  float: right;
  background-color: #4e4e4e;
  color: white;
  width: 33%;
  height: 33vw; /* change this later so it's actually just 100% of the height */
  box-sizing: border-box;
  font-size: 0.8em;
  overflow-y: scroll;
}

#side-panel-table {
  width: 100%;
  margin: auto;
  line-height: 3;
  border-collapse: collapse;
}

#side-panel-table tr:nth-child(odd) {
  background-color :#464646;
}

#side-panel-table tr td.heading {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding-left: 1.5em;
  background-color: #282828;
  color:#b5b5b5;
}

#side-panel-table tr td.attr {
  font-family: atlas;
  padding-left: 2em;
  width: 65%;
}

#side-panel-table tr td.val {
  font-family: decimal;
}


.bottom-panel {
  padding-top:0.2em;
  padding-left:1.2em;
  background-color: #464646;
  color:white;
  -moz-box-shadow: inset 0 0 12px #111;
  -wekbit-box-shadow: inset 0 0 12px #111;
  box-shadow: inset 0 0 12px #111;
  height: 100vw;
}

#async-message-note {
  font-family: atlas;
  font-size: 0.7em;
}

#log {
  font-family: atlas;
  font-size: 0.9em;
  height: 33vh;
  overflow-y: scroll;
}

#log p .date {
  font-family: monospace;
  margin-right: 1em;
}
#log p .method {
  font-size: 0.85em;
  font-weight: bold;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  border-radius: 20px;
  margin-right: 1em;
}
#log p .method.post {
  background-color: rgb(119, 124, 151);
  color:white;
}
#log p .method.get {
  background-color: #87a36f;
  color:white;
}
#log p .url {
  font-family: menlo;
  font-size: 0.95em;
  background-color: #090705;
  padding: 0.25rem;
  border-radius: 4px;
  color:#af7e61;
  margin-left: -0.2rem;
}